* {
  font-family: "Lora", serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

ol,
ul {
  padding: 0px;
}

h2 {
  margin-bottom: 45px;
}

section {
  background-color: #f5f5f5;
  padding: 45px 0px;
}

section:nth-child(2n) {
  background-color: #fafafa;
}

.footer {
  background-color: #1a1a1a;
  padding: 50px 0px 50px 0px;
  font-family: "Lora", serif;
}

.footer__option--link {
  color: rgb(238, 238, 238);
  transition: color 1s;
}

.footer__option--link:hover {
  color: red;
}

.promoted__link {
  color: rgb(238, 238, 238);
  transition: color 1s;
  display: block;
}

.promoted__link:hover {
  color: red;
}

.footer__contactForm {
  color: rgb(238, 238, 238);
}

.footer__icons--instagram {
  position: relative;
}

.footer__icons--instagram:before {
  content: "\f16d";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fccc63;
  font-size: 40px;
}

.footer__icons--facebook {
  position: relative;
}

.footer__icons--facebook:before {
  content: "\f082";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: rgb(238, 238, 238);
  font-size: 40px;
  color: #3b5998;
}

.footer__icons--youtube {
  position: relative;
}

.footer__icons--youtube:before {
  content: "\f431";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #ff0000;
  font-size: 40px;
}

.footer__option--title {
  color: #808080;
  font-size: 20px;
  font-weight: 800;
}

.footer__option--icons {
  display: inline;
  margin-right: 10px;
}

.navbar {
  background-color: #1a1a1a;
  padding: 50px 0px 50px 0px;
}

.navbar__logo {
  margin-right: 35px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 35px;
}

.navbar__option {
  color: black;
  display: inline-block;
  padding: 10px 40px 10px 40px;
  background-color: white;
  transition: background-color 1s;
  min-width: 200px;
  text-align: center;
  font-size: 20px;
  position: relative;
  vertical-align: 3;
  margin-right: 15px;
  margin-bottom: 15px;
  border-bottom: 5px solid #8a0000;
  border-radius: 15px;
}

.navbar__option--events:before {
  content: "\f133";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #1a1a1a;
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: calc(50% - 17px);
}

.navbar__option--guitar:before {
  content: "\f7a6";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #1a1a1a;
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: calc(50% - 17px);
}

.navbar__option:hover {
  cursor: pointer;
}

.navbar__option--blog:before {
  content: "\f781";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #1a1a1a;
  font-size: 22px;
  position: absolute;
  left: 20px;
  top: calc(50% - 17px);
}

.navbar__img {
  width: 100px;
  border-radius: 50%;
}

.navbar__menu {
  display: inline-block;
  vertical-align: middle;
}

.navbar__submenu {
  position: absolute;
  background-color: white;
  left: 0;
  top: 50px;
  min-width: 200px;
  padding: 10px 0px 10px 0px;
  border-radius: 15px;
}

.navbar__submenuOption {
  position: relative;
  z-index: 4;
  font-size: 15px;
  border-bottom: 2px solid #f0f0f0;
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  transition: 1s;
}

.navbar__submenuOption:hover {
  background-color: #b6d0e2;
}

.footer_option--social {
  color: white;
}

.navbar__submenu {
  display: none;
}

.navbar__submenu--deal {
  color: white;
  background-color: #e50000;
}

.navbar__submenu--deal:hover {
  background-color: #8a0000;
}

.promoted__list {
  display: inline-block;
  vertical-align: top;
  padding: 30px 15px;
  border-bottom: 1px solid #808080;
  width: 290px;
  background-color: rgba(0, 0, 0, 0.65);
  border-radius: 30px;
  box-shadow: 15px 10px black;
}

.promoted__list:not(:last-child) {
  margin-right: 30px;
}

.promoted__option {
  font-size: 16px;
  padding-bottom: 15px;
}

.promoted__title {
  color: #fafafa;
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 15px;
  text-align: center;
}

.promoted__flag {
  margin-left: 10px;
}

.navbar__submenu--flag {
  position: absolute;
  top: 17px;
  right: 15px;
}

.breadcrumbs__piece {
  display: inline-block;
  font-size: 20px;
}

.breadcrumbs__link {
  color: red;
}

.promoted__title--distinction {
  color: #ffc000;
}

.breadcrumbs__separator {
  font-size: 20px;
  margin-left: 10px;
  vertical-align: middle;
  margin-right: 10px;
  color: #808080;
}

.breadcrumbs__piece--current {
  color: white;
}

.promoted__date {
  color: white;
  font-size: 15px;
  display: block;
  margin-bottom: 10px;
  margin-top: 15px;
}

.promoted {
  text-align: center;
}

.features__list {
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
}

.features__feature {
  display: inline-block;
  width: 300px;
  vertical-align: top;
  padding: 15px 25px;
  background-image: linear-gradient(
    62deg,
    rgb(142, 197, 252) 0%,
    rgb(224, 195, 252) 100%
  );
  color: black;
  font-family: "Lora", serif;
  min-height: 200px;
  border-radius: 30px;
  box-shadow: 15px 10px black;
}

.features__feature:not(:last-child) {
  margin-right: 30px;
}

.features__description {
  text-align: left;
}

.features__heading {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}

.features__title {
  color: white;
  text-shadow: 2px 2px 8px white;
  margin-bottom: 15px;
  font-size: 20px;
  text-shadow: 2px 2px 8px black;
  font-weight: 800;
}

.promoted__button {
  font-size: 20px;
  background-color: #ffc000;
  padding-bottom: 0px;
  margin: 0px 10px;
  width: auto;
  border-radius: 10px;
  color: black;
  margin-top: 15px;
}

.promoted__button--link {
  color: black;
  font-size: 20px;
  font-weight: 800;
}

.opinions__heading {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}

.opinions__opinion {
  font-size: 25px;
}

.opinions__avatar {
  border-radius: 50%;
}

.promoted__heading {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}

.joinUs__box {
  padding: 20px 10px;
  height: 100%;
}

.joinUs__box--customer {
  background-color: #1a1a1a;
  color: white;
}

.joinUs__box--partner {
  background-color: #ffc000;
}

.joinUs__heading {
  text-align: center;
  font-size: 45px;
  font-weight: 800;
}

.joinUs__subHeading {
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
}

.joinUs__benefits {
  padding: 10px 15px;
  margin-bottom: 0px;
  position: relative;
}

.joinUs__benefit {
  margin-bottom: 15px;
}

.joinUs__benefit::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 7px;
  margin-right: 5px;
  background-color: red;
  margin-bottom: 2px;
}

.joinUs__access {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 10px;
}

.joinUs__button {
  background-color: orange;
  text-align: center;
  font-size: 25px;
  transition: background-color 1s;
  color: black;
  padding: 10px 15px;
  border-radius: 10px;
  display: inline-block;
  position: absolute;
  bottom: 32px;
  right: 15px;
}

.joinUs__button:hover {
  background-color: red;
  color: white;
}

.event {
  margin-bottom: 50px;
  border-bottom: 1px solid black;
}

.event__categories li {
  display: inline;
}

.event__categories li a {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffc000;
  font-size: 25px;
  margin-bottom: 10px;

}

.event__categories li:not(:last-child) {
  margin-right: 10px;
}

.event__button {
  background-color: black;
  color: white;
  padding: 10px 15px;
  margin-bottom: 15px;
  display: inline-block;
}

.popular__article {
  color: black;
  margin-bottom: 35px;
  border-bottom: 1px solid black;
  display: inline-block;
  padding-bottom: 15px;
}

.popular__heading {
  margin-bottom: 10px;
}

.popular__image {
  margin-bottom: 10px;
}


.popular__subHeading {
  margin-bottom: 35px;
}

.event__date {
  font-size: 22px;
  margin-bottom: 30px;
  display: inline-block;
}

.event__title {
  color: black;
}